<div ng-if="firstSvgShow" class="firstsvg">
	<ion-slide-box on-slide-changed="slideHasChanged(index)">
		<ion-slide class="firstsvg-s firstsvg-s1">
			<div><h1>食谱</h1></div>
		</ion-slide>
		<ion-slide class="firstsvg-s firstsvg-s2">
			<div><h1>日历天气</h1></div>
		</ion-slide>
		<ion-slide class="firstsvg-s firstsvg-s3">
			<div><h1>图文阅读</h1></div>
		</ion-slide>
		<ion-slide class="firstsvg-s firstsvg-s4">
			<section>
				<h3>{{dayin[0]}}</h3>
				<h3 ng-bind="dayin[1]"></h3>
				<h3 ng-bind="dayin[2]"></h3>
				<h3 ng-bind="dayin[3]"></h3>
				<h3 ng-bind="dayin[4]"></h3>
			</section>
			<button class="button button-block firstsvg-btn btn" ng-click="enterapp()">进入应用</button>
		</ion-slide>
	</ion-slide-box>
</div>