<ion-refresher pulling-text="..." on-refresh="datas.doRefresh()"></ion-refresher>
<div class="list list-inset his-search">
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" ng-keyup="datas.myKeyup($event)" ng-model="datas.txtdate" placeholder="按日期搜索(月/日)" />
	</label>
</div>
<div class="list">
	<div ng-repeat="data in hitem track by $index" class="his-item item">
		<a class="row his-list" ng-href="#/tab/hiscont/{{data.e_id}}">
			<div class="col col-80"><span>{{($index+1)}}&ensp;★&ensp;</span>{{data.title}}</div>
			<div class="col col-20 padding-left"><span>{{data.data}}</span>年</div>
			<div class="col ion-ios-arrow-right"></div>
		</a>
	</div>
</div>
<p class="his-lookmore" ng-if="datas.lookMore">{{datas.moretxt}}</p>
<ion-infinite-scroll icon="ion-loading-c" ng-if="datas.stopMore" on-infinite="datas.loadMore()" distance="1%"></ion-infinite-scroll>