<ion-view view-title="信息宝库">
	<ion-nav-buttons side="right">
		<button class="button" ng-click="datas.gotoday()">
        	今日
      </button>
	</ion-nav-buttons>
	<ion-content scroll="false" has-bouncing="true">
		<ion-slide-box show-pager="false" ion-slide-tabs slide-tabs-scrollable="false">
			<ion-slide ion-slide-tab-label="今日天气" style="height:93%">
				<ion-content scrollbar-y="false" has-bouncing="true">
					<ng-include src="'templates/slide-weather.html'"></ng-include>
				</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="今日历史">
				<ion-content scrollbar-y="false" has-bouncing="true">
					<ng-include src="'templates/slide-history.html'"></ng-include>
				</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="生活小助理" style="height:93%">
				<ion-content scrollbar-y="false" has-bouncing="true">
					<ng-include src="'templates/slide-siri.html'"></ng-include>
				</ion-content>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>