<ion-view view-title="登了个录,注了个册">
	<ion-content>
		<div class="slide-cook font16" ng-if="!signIn">
			<div class="row">
				<div class="col col-90">
					<a class="button button-calm slide-cook-btn-yue" ng-href="#/tab/logincont/reg">
						注册
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col col-90">
					<a class="button button-assertive slide-cook-btn-xi" ng-href="#/tab/logincont/login">
						登录
					</a>
				</div>
			</div>
		</div>
		<div ng-if="signIn">
			<div class="slide-cook font16">
				welcome，→{{signUname}}←
			</div>
			<div class="padding">
					<button class="button button-block button-positive" ng-click="sign.signUp()">
						退出
					</button>
			</div>
		</div>
		
	</ion-content>
</ion-view>